@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #FFA6A6 0%, #FFFFFF 30.21%, #FDFDFD 89.58%, #FFA6A6 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
}

.cabecalho-img {
    height: 90px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 900 bold;
    font-size: 18px;
    color: #5F5F5F;
}

.conteudo {
    margin-bottom: 80px;
    /*border-top: 0.4px solid #fff2e7;*/
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #5F5F5F;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #5F5F5F;
}

.conteudo-principal-escrito-botao {
    width: 185px;
    height: 40px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #FFFDD0;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5F5F5F;
}
.conteudo-principal-escrito-botao:hover {
    background-color: #FFA6A6;
    color: #FFFDD0;
}

.conteudo-principal-escrito-img {
    height: 450px;
    padding: 10px;
}

/*.conteudo-principal-escrito-dot {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-principal-escrito-dot-progresso {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    margin: 0 1px; 
    display: inline-block;
}

.active {
    background-color: #717171;
}

.desaparecer {
    animation-name: fade;
    animation-duration: 2s;
}
*/

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 1px solid #FFA6A6;
    padding-top: 42px;
    margin-bottom: 16px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #5F5F5F;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #5F5F5F;
}

.rodape {
    padding: 32px;
}

.rodape-paragrafo {
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #5F5F5F;
}
